//@font-face {
//  font-family: 'Space Mono';
//  src: url("https://fonts.gstatic.com/s/spacemono/v10/i7dMIFZifjKcF5UAWdDRaPpZUFWaHg.woff2") format("woff2");
//}
$font-family: 'Space Mono', monospace;
$font-extra-large: 2.6rem;
$font-middle-large: 2.2rem;
$font-middle-big: 1.8rem;
$font-big: 1.6rem;
$font-middle-regular: 1.5rem;
$font-regular: 1.3rem;
$font-small: 1.1rem;

$logo-color: #222731;
$error-color: #f74646;

$primary-color: #0079ff;
$button-active-color: #60abff;

$font-color-primary: #4b6a9b;
$font-color-secondary: #2b3442;
$font-color-tertiary: #697c9a;
$font-color-light: #ffffff;

$primary-background-light: #f6f8ff;
$primary-background-dark: #141d2f;

$secondary-background-light: #fefefe;
$secondary-background-dark: #1e2a47;
